<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="store.cnhk.pojo.Reservation"/>
        <mapping resource="store/cnhk/hibernateMapping/Reservation.hbm.xml"/>
        <mapping class="store.cnhk.pojo.ServiceTimeSection"/>
        <mapping resource="store/cnhk/hibernateMapping/ServiceTimeSection.hbm.xml"/>
        <mapping resource="store/cnhk/hibernateMapping/CnhkProduct.hbm.xml"/>
        <mapping class="store.cnhk.pojo.CnhkProduct"/>
        <mapping resource="store/cnhk/hibernateMapping/User.hbm.xml"/>
        <mapping class="store.cnhk.pojo.User"/>
    </session-factory>
</hibernate-configuration>